:root{
  --primary:rgb(50,81,198);
  --wordprimary:rgb(255,255,255);
  --hover:rgba(255,144,144);
  --buttonbg:rgb(255,51,51);
}
*{
  font-family:"Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body,html{
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;
  min-width:300px;
}
.display_style{
  display:flex;

}
.display_justifier{
  justify-content: space-between;
}
a{
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  color:var(--wordprimary);
}
a:hover{
  background:rgba(182, 173, 173,0.2);
  padding:10px;
  border-radius:20px;
  
}
.divider{
  height:2px;
  background:var(--primary);
  max-width:50%;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
}
.button{
  background:var(--buttonbg);
  color:var(--wordprimary);
  width:400px;
  font-weight:bold;
  border-radius:20px;
  box-shadow:2px 2px 3px black;
   padding:20px;
   text-shadow:2px 2px 2px black;
   margin-top:30px;
   border:none;
   font-size:20px;
}
.button:hover{
  background:var(--hover);
}

input, textarea{
  background:#e7e7e7;
  padding:10px;
  border:none;
  border-radius:15px;
  margin-top:10px;
  margin-bottom: 10px;
}
/* navbar section */
.navbar{
background:var(--primary);
padding:20px;
color:var(255,255,255);
align-items:center;
}
.logo{
  background:var(--hover);
  padding:10px;
  border-radius:15px;
  box-shadow:2px 2px 2px darkblue;
  border-radius:none;
  color:var(--primary);
  letter-spacing: 10px;
  text-shadow:2px 2px 2px black;
  font-weight:bold;
}
/* navbar section done */
.main_background_image{
  background:url("./../images/fishtail.jpg");
  height:700px;
  width:100%;
  background-repeat: no-repeat;
 background-position:center;
 background-size:cover;
 margin-top:1px;
}
.text{
  background:rgba(28, 25, 25, 0.6);
  align-items:center;
  text-align:center;
  height:700px;
}
.look_at_the_stunning{
  font-size:30px;
  color:white;
  text-shadow:1px 1px 2px rgb(157,138,138);
  padding-top:30px;
}
.mount_fishtail{
  font-size:60px;
  color:red;
  font-weight:bold;
  letter-spacing:20px;
  text-shadow:1px 1px 2px rgb(157,138,138);
  margin-bottom:10px;
}

.fishtail_content{
font-size:25px;
color:var(--wordprimary);
line-height:40px;
text-shadow:1px 1px 1px rgb(157,138,138);
align-items:center;
text-align:center;
padding:10px;
}

/* second part done */

/* our portfolio section */

.aboutus_section{
  max-width:80%;
  margin:auto;
  justify-content: space-around;
}
.card_container{
width:400px;
background:var(--primary);
text-align:center;
margin:3px;
border-radius:15px;
line-height:23px;
box-shadow:3px 4px 4px black;
padding:10px;

}
.web_development{
  color:var(--buttonbg);
  font-weight:bold;
  font-size:35px;
  text-shadow:2px 2px 2px black;
  margin-top:40px;

}
.card_container_content{
  color:var(--wordprimary);
  font-size:20px;

}
.learn_more_button{
  background:var(--buttonbg);
  font-weight:150px;
  font-size:20px;
  border-radius:15px;
  border:none;
  padding:10px;
  margin-bottom:20px;
  width:200px;
  box-shadow:2px 2px 2px black;
}
.learn_more_button:hover{
  background:var(--hover);
}

/* our portfolio section dont */

/* call now section start */
.call_now_banner{
  background:var(--primary);
  height:250px;
  text-align:center;
  padding-top:100px;
  color:white;
  text-shadow:2px 2px 2px black;
  letter-spacing: 10px;
  font-size:30px;
  font-weight:bold;
}
.button_call_now{
  
  background:var(--buttonbg);
  color:var(--wordprimary);
  width:400px;
  font-weight:bold;
  border-radius:20px;
  box-shadow:2px 2px 3px black;
   padding:20px;
   text-shadow:2px 2px 2px black;
   margin-top:20px;
   border:none;
   font-size:20px;
}
.button_call_now:hover{
  background:var(--hover);
}
/* call now section done*/
/* contact us section (name)<number>text */
.contact_container{
  padding-top:30px;
  padding-bottom:30px;
  max-width:60%;
  margin:auto;
  align-items:center;
}
.contact_image{
  background:url("./../images/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg");
  background-size:cover;
  background-position:center;
  height:400px;
  width:400px;
  box-shadow:2px 2px 2px black;
  border-radius:40%;
}
.contact_us{
  width:500px;
}
.contact_us_2{
  color:var(--buttonbg);
  font-weight:bold;
  font-size:50px;
  letter-spacing:15px;
  
}

.send_msg_button{
  background:var(--buttonbg);
  color:var(--wordprimary);
  width:250px;
  font-weight:bold;
  border-radius:20px;
  box-shadow:2px 2px 3px black;
   padding:20px;
   text-shadow:2px 2px 2px black;
   margin-top:20px;
   border:none;
   font-size:20px;
}
.send_msg_button:hover{
  background:var(--hover);
}
/*  contact us section done*/

.footer{
  background:var(--primary);
  color:var(--wordprimary);
  padding:20px;
  text-align: center;
}

